# This is a basic workflow to help you get started with Actions

name: spark

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    #container: apache/spark:3.5.4-scala2.12-java17-python3-r-ubuntu

    #container: bitnami/spark:sha256-6adad33c3bbb65f20f328e6e6f37efdfd7aefafffdd172b31c617a5e3aef77bc

    #container: spark:python3-java17 

    steps:
    - uses: actions/checkout@v4


#    - uses: actions/setup-python@v5
#      with:
#        python-version: '3.10'

#    - uses: actions/setup-java@v4
#      with:
#        java-version: '21'
#        distribution: temurin

#    - uses: vemonet/setup-spark@v1
#      with:
#        spark-version: '3.5.3'
#        hadoop-version: '3'

 #   - run: spark-submit --version
 #   - run: spark-submit --master local hello.py
    - uses: w9jds/firebase-trigger@v1.1.0
      with:
        credentials: ${{ secrets.FIREBASE_CREDENTIALS }}
        databaseUrl: https://big-data-a3266.firebaseio.com
        databaseType: firestore
        path: results
        doc: myresult
        value: ${{ github.event.head_commit.message }}
